CCCGame2TankWorld/Content/StarterContent/
CCCGame2TankWorld/Binaries/
CCCGame2TankWorld/Saved/
CCCGame2TankWorld/.vs/
CCCGame2TankWorld/Intermediate/
CCCGame2TankWorld/CCCGame2TankWorld.VC.db
CCCGame2TankWorld/CCCGame2TankWorld.VC.VC.opendb
